.formControl {
  width: 40%;
  /* margin-top: 2% !important; */
  margin-bottom: 1% !important;
  margin-left: 30% !important;
  margin-right: 30% !important;
  background-color: rgb(231, 226, 219);
  border-color: black;
}
.divv{
  margin-top: 2% !important;
  font-size: x-large;
  text-align: center;
}