// Color Pallete

$blue: #007bff;
$blue-light: #007bff10;
$blue-hover: #007bff30;
$blue-light-opaque: #eff7ff;
$blue-mid: #007bff99;
$pblue: #4c75f2;
$pblue-light: #4c75f210;
$pblue-hover: #4c75f230;
$pblue-light-opaque: #eff7ff;
$pblue-mid: #4c75f299;
$cherry: #ff073a;
$cherry-mid: #ff073a99;
$cherry-light: #ff073a20;
$cherry-hover: #ff073a30;
$cherry-light-opaque: #ffe0e6;
$red: #dc3545;
$red-light: #dc354520;
$red-mid: #dc354599;
$orange: #fd7e14;
$orange-mid: #fd7e1499;
$orange-light: #fd7e1420;
$orange-hover: #fd7e1430;
$orange-light-opaque: #ffefe2;
$yellow: #ffc107;
$yellow-light: #ffc10720;
$yellow-hover: #ffc10730;
$yellow-mid: #ffc10799;
$yellow-light-opaque: #fff7e0;
$green: #28a745;
$green-light: #28a74520;
$green-hover: #28a74530;
$green-mid: #28a74599;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-light: #6c757d10;
$gray-light-opaque: #f6f6f7;
$gray-hover: #6c757d20;
$gray-mid: #6c757d99;
$gray-dark: #343a40;
$gray-opaque: #f1f1f1;
$light: #f8f9fa;
$dark: #343a40;
$purple: #201aa2dd;
$purple-light: #201aa220;
$purple-hover: #201aa230;
$purple-mid: #201aa299;
$purple-light-opaque: #e3e2f3;
$pink: #fb5581;
$pink-light: #ffa8cb30;
$pink-hover: #ffa8cb60;
$pink-mid: #fb558199;
$brown: #b6854d;
$brown-light: #b6854d10;
$brown-hover: #b6854d30;
$brown-mid: #b6854d99;
$brick: #e23028;

// Dark mode variables
$dark-m-gray: #161625;
$dark-mid-subtext: #bdb8ae;
$dark-m-white: #e1e1e1;
$dark-m-purple: #7ba1ea;
$dark-m-blue: #3391ff;

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'archia';
  font-size: 24px !important;
  font-weight: 900;
}

h2 {
  font-family: 'archia';
  font-size: 18px !important;
  font-weight: 400;
}

h3 {
  font-family: 'archia';
  font-size: 14px !important;
  font-weight: 400;
}

h4 {
  font-family: 'archia';
  font-size: 13px !important;
  font-weight: 900;
}

h5 {
  font-family: 'archia';
  font-size: 12px !important;
  font-weight: 900;
}

h6 {
  font-family: 'archia';
  font-size: 11px !important;
  font-weight: 600;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.arrow-up {
  border-bottom: 5px solid $gray-mid;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: .25rem;
}

.arrow-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $gray-mid;
  margin-left: .25rem;
}

.Home {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 5rem;

  .home-left
  {
    display: flex;
    flex-direction: column;
    width: 45rem;
  }

  .home-left {
    margin-right: 15rem;
  }

  .home-right {
    // margin-left: 5.5rem;
    // margin-right: 2.5rem;
    min-height: 10rem;
    width: 40rem;
  }

  .header {
    z-index: 99;
  }
}

.alert {
  background: $gray-light;
  border-radius: 5px;
  color: $gray;
  display: flex;
  flex-direction: row;
  font-family: 'archia';
  font-size: 10px;
  margin-right: .5rem;
  padding: .5rem;
  width: 6rem;

  svg {
    color: $gray-mid;
    margin-right: .25rem;
    margin-top: -.25rem;
    stroke-width: 2px;
    width: 36px !important;
  }

  .alert-right {
    width: 10rem;

    a {
      background: $gray-light;
      color: $gray;
      padding-left: .1rem;
      padding-right: .1rem;

      &:hover {
        background: $gray-hover;
      }
    }

    &.is-full {
      width: 100%;
    }
  }

  &.is-green {
    background: $green-light;
    color: $green;

    svg {
      stroke: $green-mid;
    }
  }
}

.State {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10rem;
  margin-right: 5rem;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
    width: calc(100% - 3rem);

    & > * {
      align-self: flex-start;
    }

    .header-left {
      h1,
      h5 {
        margin: 0;
      }

      h1 {
        color: $brick;
        max-width: 20rem;
      }

      h5 {
        color: $gray;
        font-weight: 600;
      }
    }

    .header-right {
      color: $purple-mid;
      display: flex;
      flex-direction: column;
      margin-top: .1rem;
      text-align: right;

      h2,
      h5 {
        font-weight: 600;
        margin: 0;
      }

      h2 {
        color: $purple;
        font-weight: 900;
        margin-bottom: 1rem;
      }

      a {
        background: $purple-light;
        color: inherit;
        text-decoration: none;
        transition: all .2s ease-in-out;

        &:hover {
          background: $purple-hover;
        }
      }
    }
  }

  .state-left,
  .state-right {
    display: flex;
    flex-direction: column;
    width: 30rem;
  }

  .state-left {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  .state-right {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  a {
    text-decoration: none;
  }

  .to-essentials {
    align-self: center;
    background: $gray-light;
    border-radius: 5px;
    display: none;
    flex-direction: row;
    justify-content: center;
    padding: .5rem;
    transition: all .2s ease-in-out;

    &:hover {
      background: $gray-hover;
    }

    h2 {
      color: $gray-mid;
      font-weight: 600;
    }

    svg {
      color: $gray-mid;
      margin-bottom: 2px;
      margin-left: 1rem;
    }

    & > * {
      align-self: center;
    }
  }

  .meta-secondary {
    align-self: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .district-bar,
  .to-essentials {
    width: 100%;
  }

  .MapExplorer,
  .meta-secondary {
    width: calc(100% - 3rem);
  }

  .Minigraph {
    .svg-parent {
      width: calc(25%) !important;
    }
  }

  .MapExplorer {
    margin-top: 2rem;

    .header,
    .map-stats,
    .back-button,
    .last-update,
    .unknown,
    .footnote,
    .state-page-button {
      display: none;
    }

    .anchor {
      display: none;
    }

    .svg-parent {
      &:not(.maplegend) {
        height: 400px;
        width: 100%;

        svg {
          height: 100%;
        }
      }
    }
  }
}

.StateMeta {
  align-self: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3rem;
  width: calc(100% - 3rem);

  &.population {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    margin: 0;
    margin-bottom: 2rem;

    .alert {
      margin: 0;
    }
  }

  .meta-item {
    border-radius: 5px;
    min-height: 6rem;
    padding-left: 1rem;
    padding-top: 1rem;

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin: 0;
    }

    h5 {
      font-weight: 600;
    }

    h2 {
      font-weight: 600;
    }

    h3 {
      font-weight: 900;
      width: 10rem;
      word-wrap: break-word;
    }

    h1 {
      display: inline-block;
      font-weight: 600;
    }

    &.population {
      min-height: 1rem !important;
      padding: 0 !important;

      h1,
      h3 {
        color: $gray;
      }
    }

    .meta-item-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & > * {
        align-self: center;
      }

      span {
        margin-right: 1rem;
      }

      svg {
        align-self: flex-start;
        cursor: pointer;
        stroke-width: 3;
        width: 12px;
      }
    }

    .meta-item-middle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      * {
        align-self: center;
      }

      svg {
        cursor: pointer;
        margin-right: 1rem;
      }
    }

    p {
      font-family: 'archia';
      font-weight: 600;
      margin-bottom: 1.25rem;
      padding-right: 1rem;
    }
  }
}

.breadcrumb {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: 'archia';
  font-size: .75rem;
  padding-left: 1.5rem;

  ul {
    background: $light;
    border: 2px solid $gray-light;
    box-shadow: none;
    max-height: 20rem;
    overflow-y: scroll;
  }

  .item {
    a {
      color: $gray;
      width: 100%;
    }

    &:hover {
      background: $gray-hover;

      a {
        background: transparent;
        color: $gray;
      }
    }
  }

  a {
    color: $gray;
    font-family: 'archia';
    font-size: .75rem;
    margin-right: .25rem;
    text-decoration: none;
    transition: all .2s ease-in-out;

    &:not(:first-child) {
      margin-left: .25rem;
    }

    &:hover {
      background: $gray-hover;
      text-decoration: none;
    }

    &.selected {
      background: $gray-light;
      color: $gray;
    }
  }

  .caret {
    color: $gray;
    margin-left: 0;
    transition: all .1s ease-in-out;

    &:hover {
      color: $gray-dark;
    }
  }

  summary {
    &:focus {
      outline: none;
    }
  }
}

.Essentials {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 30rem;

  img,
  .alert {
    align-self: center;
  }

  .alert {
    margin: 0;
    margin-top: 2rem;
    width: 90% !important;
    word-wrap: break-word;

    svg {
      margin: 0;
    }
  }

  .address {
    align-self: center;
    color: $gray;
    display: flex;
    flex-direction: row;
    padding: 1rem;

    h3 {
      margin-right: 1rem;
    }

    svg {
      cursor: pointer;
      margin-bottom: 2px;
      stroke: $gray-mid;
      stroke-width: 3px;
    }

    * {
      align-self: center;
    }
  }

  .essential-result {
    background: $gray-light;
    border: transparent !important;
    border-radius: 5px;
    cursor: default !important;
    margin-bottom: 1rem;
  }
}

.labels {
  margin-bottom: 1rem;
}

.label-item {
  background: $gray-light !important;
  border-radius: 5px !important;
  color: $gray-mid !important;
  cursor: pointer;
  font-family: 'archia' !important;
  margin-bottom: .25rem;
  text-transform: capitalize;

  &.is-selected {
    background: $yellow-hover !important;
    color: $orange-mid !important;

    &:hover {
      background: $yellow-hover !important;
      color: $orange-mid !important;
    }
  }

  @media not all and (pointer: coarse) {
    &:hover {
      background: $yellow-light !important;
      color: $orange-mid !important;
    }
  }

  .counter {
    background: inherit;
    color: inherit;
    margin-left: .25rem;
  }
}


.header {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;

  & > * {
    align-self: center;
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;

    & > * {
      align-self: center;
      margin-left: .5rem;
      margin-right: .5rem;
    }

    h5 {
      color: $gray;
      font-weight: 600;
      margin: 0;
    }

    svg {
      color: $gray-mid;
      cursor: pointer;
      stroke-width: 3;
      width: 16px;

      &:hover {
        stroke: $gray;
      }
    }

    .bell-icon {
      height: 24px;
      position: relative;


      .indicator {
        background: $pblue;
        border-radius: 50%;
        height: 7px;
        position: absolute;
        right: -3px;
        top: -3px;
        width: 7px;
      }
    }
  }
}

// .last-update {
//   align-self: center;
//   display: flex;
//   flex-direction: column;
//   margin-bottom: auto;
//   margin-top: .25rem;
//   text-align: right;
//   width: 10rem;

//   h6 {
//     color: $green-mid;
//     font-weight: 900;
//   }

//   h3 {
//     color: $green;
//     font-weight: 600;
//   }

//   h3,
//   h6 {
//     margin: 0;
//   }
// }

// .button {
//   background: $blue-light;
//   border: 0;
//   border-radius: 5px;
//   color: $blue-mid;
//   cursor: pointer;
//   display: flex;
//   flex-direction: row;
//   font-family: 'archia';
//   font-size: .75rem;
//   font-weight: 900;
//   margin-bottom: .5rem;
//   margin-top: .25rem;
//   outline: none;
//   padding: .5rem;
//   text-decoration: none;
//   text-transform: uppercase;
//   transition: background .2s ease-in-out;

//   svg {
//     padding-right: 6px;
//     stroke-width: 2px;
//     width: 20px;
//   }

//   &.is-purple {
//     background: $purple-light;
//     color: $purple-mid;

//     &:hover {
//       background: $purple-hover;
//     }
//   }

//   &.is-green {
//     background: $green-light;
//     color: $green-mid;

//     &:hover {
//       background: $green-hover;
//     }
//   }

//   &:hover {
//     background: $blue-hover;
//   }

//   & > * {
//     align-self: center;
//   }
// }

.Table {
  margin-bottom: .1rem;
}

table {
  align-self: center;
  border-collapse: separate;
  // border-spacing: 1px 5px;
  font-family: 'archia';
  position: relative;
  width: 60rem;

  thead {
    // background: rgb(16, 243, 243);;
    color: rgb(233, 10, 10);
    // font-size: .57rem;
    text-align: left;

    th {
      background:rgba(158, 158, 158, 0.849);
      // border-radius: 5px;
      cursor: pointer;
      // padding: .5rem;
      // position: sticky !important;
      // top: 5px;
      // transition: all .1s ease-in-out;
      // z-index: 99;

      // &:hover {
      //   background: #ecedee;
      // }
    }
  }

  .heading-content {
    // align-items: center;
    display: flex;
    color: #000000;
    font-size: large;
  }

  tbody {
    color: rgb(255, 255, 255);

    tr {
      cursor: pointer;

      &:nth-child(odd) {
        background: rgba(33, 16, 95, 0.95);
      }
      &:nth-child(even) {
        background: rgba(0, 0, 0, 0.95);
      }

      &:hover {
        background: rgb(10, 6, 54) !important;
      }
    }


    td {
      border-radius: 4px;
      font-size: .8rem;
      // padding: .1rem;
      text-align: right;

      &:first-child {
        font-weight: 600;
        max-width: 15.5rem !important;
        text-align: left;
        word-wrap: break-word !important;
      }

      .delta {
        display: inline-block;
        font-size: 15px !important;

        svg {
          height: 9px;
          stroke-width: 1;
          vertical-align: -.25px;
          width: 9px;
        }

        &.is-confirmed {
          color: red;
        }

        &.is-active {
          color: blue;
        }

        &.is-recovered {
          color: green;
        }

        &.is-deaths {
          color: rgb(0, 195, 255);
        }
      }

      .total {
        margin-left: .5rem;
      }
    }

    .title-chevron {
      position: relative;

      & > * {
        align-self: center;
      }

    }
    .roo{
      background-color: rgba(226, 69, 69, 0.795);
    }
  }

  .dropdown {
    background: $gray-light;
    border-radius: 50%;
    cursor: pointer;
    height: 13px;
    left: -1.25rem;
    position: absolute;
    top: .125rem;
    width: 13px;
    background-color: red;

    &:hover {
      background: black;
    }

    svg {
      left: 1px;
      position: absolute;
      stroke-width: 3;
      top: -.35rem;
      width: 11px;
    }
  }
}

.MapExplorer {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 30rem;

  &.stickied {
    position: sticky !important;
    top: 0;
  }

  .header {
    align-self: flex-start;
    color: $gray;
    display: flex;
    flex-direction: column;

    h1,
    h6 {
      margin: 0;
    }

    h6 {
      margin-bottom: 2rem;
      margin-top: .75rem;
    }
  }

  .svg-parent {
    display: block;
    margin: auto;
    margin-top: 2rem;
    overflow: hidden;
    width: 90%;
    svg {
      align-self: center;
      width: 100%;

      &#legend {
        overflow: visible;
      }

      text {
        fill: $gray;
        font-family: 'archia';
        font-size: 10px;
        font-weight: 600;
        text-align: right;
      }
    }
  }

  // .back-button {
  //   background: $yellow-light;
  //   color: $orange;
  //   position: absolute;
  //   right: 0;
  //   top: 2.75rem;
  //   transition: all .2s ease-in-out;

  //   &:hover {
  //     background: $yellow-hover;
  //   }
  // }

  .meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 4rem;
    justify-content: space-between;

    h2 {
      color: #e23028;
      font-weight: 900;
      margin-top: 0;
      width: calc(100% - 10rem);
      word-wrap: break-word;

      // &.active {
      //   color: blue;
      // }

      // &.recovered {
      //   color: green;
      // }

      // &.deceased {
      //   color: gray;
      // }

      // &.Red {
      //   color: #d73027;
      // }

      // &.Orange {
      //   color: #fee08b;
      // }

      // &.Green {
      //   color: #66bd63;
      // }
    }

    h4 {
      color: $gray-mid;
      margin: 0;
      word-wrap: break-word;
    }

    a {
      width: 10rem;
    }

    .district {
      color: #e23028;
      line-height: 15px;
      margin: 0;

      span {
        font-size: .75rem;
        font-weight: 600;
      }
    }

    .unknown {
      font-weight: 600;
      position: absolute;
      right: 0;
      text-align: right;
      top: 5.5rem;
      width: 5rem;
    }
  }

  .map-stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    position: relative;
    width: 100%;
    z-index: 10;

    h1,
    h5,
    h6,
    h3 {
      margin: 0;
    }

    h3 {
      color: $gray-mid;
      font-weight: 900;
    }

    .stats {
      background: rgb(255, 77, 77);
      border-radius: 5px;
      color: rgb(65, 2, 2);
      cursor: pointer;
      display: flex;
      flex: 1;
      flex-direction: column;
      margin-bottom: 1rem;
      margin-left: .25rem;
      margin-right: .25rem;
      padding: .25rem;
      position: relative;
      transition: all .1s ease-in-out;

      // .stats-bottom {
      //   display: flex;
      //   flex-direction: column;

      //   h6 {
      //     font-weight: 900;
      //     margin-bottom: .25rem;
      //     margin-top: auto;
      //   }
      // }

      h1 {
        color: rgb(2, 0, 0);
        font-size: 1em !important;
        font-weight: 600;
      }

      &.is-green {
        background: lightgreen;

        h5,
        h6 {
          color: rgb(35, 131, 35);
        }

        h1 {
          color: green;
        }
      }

      &.is-blue {
        background: lightblue;

        h5,
        h6 {
          color: rgb(36, 36, 184);
        }

        h1 {
          color: blue;
        }
      }

      &.is-gray {
        background:gray;

        h5,
        h6 {
          color: rgb(27, 27, 27);
        }

        h1 {
          color: rgb(0, 0, 0);
        }
      }

      // &.is-yellow {
      //   background: $yellow;

      //   h5,
      //   h6 {
      //     color: $white;
      //   }

      //   h1 {
      //     color: $white;
      //   }
      // }

      &.is-purple {
        background: rgb(138, 240, 231);
        padding-right: 1rem;

        h5,
        h6 {
          color: rgb(0, 109, 100);

          &.timestamp {
            font-weight: 900;
            margin: 0;
          }
        }

        h1 {
          color: rgb(1, 71, 77);
        }
      }

      &.focused {
        margin-bottom: .5rem;
        margin-top: -.5rem;
        padding-bottom: .75rem;
        padding-top: .75rem;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}


.fadeInUp {
  animation-duration: .45s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
 
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.cent{
  margin-top: 3%;
  background-color: rgb(47, 47, 51);


  p{
    background-color: rgb(15, 139, 139);
    text-align: center;
    margin-top: 1%;
    font-size: xx-large;
    color: rgb(77, 57, 7);
    margin-bottom: 1%;
  }
}
.disclaimer{
  color: rgb(177, 142, 102);
  .Icon{
    font-size: xx-large;
  }
}
.center{
  width: 100%; 
}
.indiacard{
  font-size: 50%;

}
.foote{
  text-align: center;
}
.foot{
  text-align: center;
  padding-left: 310%;
  width: 100%;
}
.footo{
  text-align: center;
  padding-left: 20%;
  width: 100%;
}
.mar{
  background-color: rgba(41, 130, 182, 0.89);
}
.last-update{
  font-family: 'archia';
  color: red;
  font-size: large;
}
.text{
  font-size: 800px;
}
.last{
  font-size: medium;
}
.form{
  background-image: url('./Components/assets/back.jpg');
  background-repeat: repeat;
  background-attachment: fixed; 
  height: 3000%;
  background-size: 80% 100%;
  text-align: center;
  font-family: 'archia';
  // height: 900px;

.info{
  background-color: rgba(255, 255, 255, 0.158); 
margin-left: 36%;
height: 85%;
color: rgb(241, 241, 241);
margin-right: 36%;
padding-top: 2%;
padding-bottom: 2%;

.gender{
  padding-left: 22%;
}
}
.top{
  text-align: center;

  font-size: 300%;
  color: rgb(0, 255, 128);
  font-weight: 900;
}


.heading{
  font-size: large;
  text-align: left;
  font-weight: 900;
  margin-left: 3%;

}
.radio{
  margin-left: 9%;
}
}
.orange{
  background-color: rgb(241, 142, 49);
  text-align: center;
}
.red{
  background-color: rgb(226, 47, 47);
  text-align: center;

}
.green{
  background-color: rgb(76, 170, 76);
  text-align: center;

}
.textdata{
  font-size: 180%;
  font-weight: 900;
  font-family: 'archia';
}
.tow{
  font-size: 230%;
  font-family: 'archia';
}
.imagee{
  max-height:28rem
}